<% content_for(:title) { "Taksim Square Protest Watch" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#F26D7D;" data-image="/DesignContest/alert_256x256.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="Twitter_Taksim_Square_Influential_Users" style="background-color:#7CC576;" data-view="List" data-unordered="true" data-title="Influential Users" data-moreinfo="Retweeters from Taksim Square last 48h"></div>
    <i class="icon-magnet icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Taksim_Square_trending_hashtags" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="Trending Hashtags" data-moreinfo="From within 500m of Taksim Square"></div>
    <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instadash" data-view="Instadash" style="background-color:#FFF467;" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Twitter_Taksim_Square_Tear_Gas_Usage" style="background-color:#855FA8;" data-view="Graph" data-title="'Tear Gas' keyword usage" data-moreinfo="10 min intervals - 6 hour period" ></div>
    <i class="icon-ambulance icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Taksim_Square_Tweeters" style="background-color:#FBAF5C;" data-view="Number" data-title="Tweeters this hour" data-moreinfo="Compared to previous hour" data-prefix=""></div>
    <i class="icon-group icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Google_News_feed_Taksim_Square" style="background-color:#F26C4F;" data-view="Comments" data-title="News feed" data-moreinfo="News articles related to Istanbul Protests from Canada"></div>
    <i class="icon-paper-clip icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Tweets_From_Taksim_Square" style="background-color:#1ABBB4;" data-view="Comments" data-title="Twitter feed" data-moreinfo="Popular tweets in Major Taksim Square"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

  </ul>
</div>
