<% content_for(:title) { "All Widget Dashboard" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#FFF467;" data-image="/AICandle.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Facebook_link_stat" style="background-color:#438CCA;" data-view="List" data-unordered="true" data-title="FB link stats" data-moreinfo="for amnesty.ca links"></div>
    <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions_AIC" style="background-color:#1ABBB4;" data-view="Comments" data-title="Twitter feed" data-moreinfo="Popular Amnesty International tweets in Major Canadian Cities"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_current_supporters" style="background-color:#F06EA9;" data-view="Meter" data-title="Current Supporters" data-min="0" data-max="100000" data-moreinfo="# of current supporters with 100k target"></div>
      <i class="icon-heart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Amnesty_Canada_news_articles" style="background-color:#F26C4F;" data-view="Comments" data-title="News feed" data-moreinfo="News articles related to Amnesty International Canada"></div>
    <i class="icon-paper-clip icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="Facebook_AIC_page_stats" style="background-color:#438CCA;" data-view="List" data-unordered="true" data-title="FB Page Shares" data-moreinfo="Sharing stats for FB page"></div>
    <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_total_donation_year-to-date" style="background-color:#7CC576;" data-view="Number" data-title="Total donations year to date" data-moreinfo="Compared to same period last year" data-prefix="$"></div>
    <i class="icon-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_trending_hashtags" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="Trending Hashtags" data-moreinfo="From across Canada"></div>
    <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_yearly_average_donation" style="background-color:#7CC576;" data-view="Number" data-title="Average donation this year" data-moreinfo="Compared to last year" data-prefix="$" data-moreinfo="# it's not really in trillions."></div>
    <i class="icon-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="Facebook_AIC_page_post_share_growth" style="background-color:#00BFF3;" data-view="Graph" data-title="Shares count of last FB post" data-moreinfo="10 min intervals - 12 hour period" ></div>
    <i class="icon-comments icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="RSS_feed_IS" style="background-color:#5574B9;" data-view="Comments" data-title="IS News Feed" data-moreinfo="News articles from the International Secretariat"></div>
    <i class="icon-paper-clip icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Facebook_AIC_page_post_like_growth" style="background-color:#00BFF3;" data-view="Graph" data-title="Likes count of last FB post" data-moreinfo="10 min intervals - 6 hour period" ></div>
    <i class="icon-thumbs-up icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style="background-color:#855FA8;" style="font-size:10px;"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="RSS_feed_infomart" style="background-color:#ACD372;" data-view="Comments" data-title="FPinformart News Feed" data-moreinfo="Articles short listed by Beth Berton-Hunter"></div>
    <i class="icon-paper-clip icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" style="background-color:#3BB878;" data-view="List" data-unordered="true" data-title="Server stats" data-moreinfo="for suku prod stack"></div>
    <i class="icon-ok-sign icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Load_avg_15min" style="backgrtotaldonationsyeartodateound-color:#FBAF5C;" data-view="Graph" data-title="Server load" data-moreinfo="15 min intervals" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Load_avg_1min" style="background-color:#F68E55;" data-view="Graph" data-title="Server load" data-moreinfo="1 min intervals" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="DB_latest_query_runtime" style="background-color:#F26D7D;" data-view="List" data-unordered="true" data-title="Cron job results" data-moreinfo="Latest query run"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions_ATT" style="background-color:#A763A8;" data-view="Comments" data-title="Arms Trade Treaty Tweets" data-moreinfo="Popular tweets in Toronto/Montreal area with #ArmsTradeTreaty"></div>
      <i class="icon-legal icon-background"></i>
    </li>

  </ul>
</div>
