<% content_for(:title) { "Finance" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#FFF467;" data-image="/AICandle.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_total_donation_year-to-date" style="background-color:#7CC576;" data-view="Number" data-title="Total donations year to date" data-moreinfo="Compared to same period last year" data-prefix="$"></div>
    <i class="icon-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style="background-color:#855FA8;" style="font-size:10px;"></div>
      <i class="icon-time icon-background"></i>
    </li>

  </ul>
</div>
