<% content_for(:title) { "Fundraising" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#FFF467;" data-image="/AICandle.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_total_donation_year-to-date" style="background-color:#FBAF5C;" data-view="Number" data-title="Total donations year to date" data-moreinfo="Compared to same period last year" data-prefix="$"></div>
    <i class="icon-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_yearly_average_donation" style="background-color:#7CC576;" data-view="Number" data-title="Average donation this year" data-moreinfo="Compared to last year" data-prefix="$" data-moreinfo="# it's not really in trillions."></div>
    <i class="icon-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="DM_codes_donations" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="DM Donations count" data-moreinfo="year to date"></div>
    <i class="icon-group icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="DM_codes_amount" style="background-color:#5574B9;" data-view="List" data-unordered="true" data-title="DM Total Donations" data-moreinfo="year to date"></div>
    <i class="icon-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="DM_codes_averages" style="background-color:#A763A8;" data-view="List" data-unordered="true" data-title="DM Average Donation" data-moreinfo="year to date"></div>
    <i class="icon-font icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="AM_codes_donations" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="AM Donations count" data-moreinfo="year to date"></div>
    <i class="icon-group icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="AM_codes_amount" style="background-color:#5574B9;" data-view="List" data-unordered="true" data-title="AM Total Donations" data-moreinfo="year to date"></div>
    <i class="icon-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="AM_codes_averages" style="background-color:#A763A8;" data-view="List" data-unordered="true" data-title="AM Average Donation" data-moreinfo="year to date"></div>
    <i class="icon-font icon-background"></i>
    </li>

  </ul>
</div>
