<% content_for(:title) { "All Widget Dashboard" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#FFF467;" data-image="/AICandle.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" style="background-color:#3BB878;" data-view="List" data-unordered="true" data-title="Server stats" data-moreinfo="for suku prod stack"></div>
    <i class="icon-ok-sign icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Load_avg_15min" style="backgrtotaldonationsyeartodateound-color:#FBAF5C;" data-view="Graph" data-title="Server load" data-moreinfo="15 min intervals" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Load_avg_1min" style="background-color:#F68E55;" data-view="Graph" data-title="Server load" data-moreinfo="1 min intervals" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="DB_latest_query_runtime" style="background-color:#F26D7D;" data-view="List" data-unordered="true" data-title="Cron job results" data-moreinfo="Latest query run"></div>
      <i class="icon-time icon-background"></i>
    </li>

  </ul>
</div>
