<% content_for(:title) { "Member Services" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#FFF467;" data-image="/AICandle.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_phone_month-to-date" style="background-color:#7CC576;" data-view="Number" data-title="Phone this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-phone icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_1800_month-to-date" style="background-color:#F06EA9;" data-view="Number" data-title="1800 this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-phone icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_TIGERTEL_month-to-date" style="background-color:#FBAF5C;" data-view="Number" data-title="TigerTel this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-phone icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_note_input_counts" style="background-color:#5574B9;" data-view="List" data-unordered="true" data-title="iMIS leader board" data-moreinfo="Top iMIS note inputers in last 3 days"></div>
    <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_mail_month-to-date" style="background-color:#855FA8;" data-view="Number" data-title="Mail this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-envelope icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_coupon_month-to-date" style="background-color:#3BB878;" data-view="Number" data-title="Coupons this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-bookmark-empty icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_in_person_month-to-date" style="background-color:#605CA8;" data-view="Number" data-title="In person this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_web_month-to-date" style="background-color:#F26D7D;" data-view="Number" data-title="Web this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-github icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_web_contact_form_month-to-date" style="background-color:#605CA8;" data-view="Number" data-title="Web Contact Form this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-github icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_current_supporters" style="background-color:#F06EA9;" data-view="Meter" data-title="Current Supporters" data-min="0" data-max="100000" data-moreinfo="# of current supporters with 100k target"></div>
      <i class="icon-heart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_trending_hashtags" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="Trending Hashtags" data-moreinfo="From across Canada"></div>
    <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_calls_month-to-date" style="background-color:#FBAF5C;" data-view="Number" data-title="Calls this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-phone icon-background"></i>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="Facebook_AIC_page_stats" style="background-color:#438CCA;" data-view="List" data-unordered="true" data-title="FB Page Shares" data-moreinfo="Sharing stats for FB page"></div>
    <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="RSS_feed_Google_News_Amnesty" style="background-color:#F26C4F;" data-view="Comments" data-title="Google News feed" data-moreinfo="News articles related to Amnesty International"></div>
    <i class="icon-paper-clip icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions_AIC" style="background-color:#1ABBB4;" data-view="Comments" data-title="Twitter feed" data-moreinfo="Popular Amnesty International tweets in Major Canadian Cities"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="Facebook_AIC_page_post_share_growth" style="background-color:#00BFF3;" data-view="Graph" data-title="Shares count of last FB post" data-moreinfo="10 min intervals - 12 hour period" ></div>
    <i class="icon-comments icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="RSS_feed_IS" style="background-color:#5574B9;" data-view="Comments" data-title="IS News Feed" data-moreinfo="News articles from the International Secretariat"></div>
    <i class="icon-paper-clip icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Facebook_AIC_page_post_like_growth" style="background-color:#00BFF3;" data-view="Graph" data-title="Likes count of last FB post" data-moreinfo="10 min intervals - 6 hour period" ></div>
    <i class="icon-thumbs-up icon-background"></i>
    </li>

  </ul>
</div>
