<% content_for(:title) { "Member Services" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#FFF467;" data-image="/AICandle.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_phone_month-to-date" style="background-color:#7CC576;" data-view="Number" data-title="Phone this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-phone icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_1800_month-to-date" style="background-color:#F06EA9;" data-view="Number" data-title="1800 this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-phone icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_TIGERTEL_month-to-date" style="background-color:#FBAF5C;" data-view="Number" data-title="TigerTel this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-phone icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_note_input_counts" style="background-color:#5574B9;" data-view="List" data-unordered="true" data-title="iMIS leader board" data-moreinfo="Top iMIS note inputers in last 3 days"></div>
    <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="iMIS_member_services_volunteer_counts" style="background-color:#605CA8;" data-view="List" data-unordered="true" data-title="iMIS notes by Volunteer" data-moreinfo="since midnight"></div>
    <i class="icon-heart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_mail_month-to-date" style="background-color:#855FA8;" data-view="Number" data-title="Mail this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-envelope icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_coupon_month-to-date" style="background-color:#3BB878;" data-view="Number" data-title="Coupons this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-bookmark-empty icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_in_person_month-to-date" style="background-color:#605CA8;" data-view="Number" data-title="In person this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_web_month-to-date" style="background-color:#F26D7D;" data-view="Number" data-title="Web this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-github icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_web_contact_form_month-to-date" style="background-color:#605CA8;" data-view="Number" data-title="Web Contact Form this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-github icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_CC_Updater_month-to-date" style="background-color:#855FA8;" data-view="Number" data-title="CC Updater Program this month" data-moreinfo="Compared to same period last month" data-prefix=""></div>
    <i class="icon-credit-card icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="iMIS_current_supporters" style="background-color:#F06EA9;" data-view="Meter" data-title="Current Supporters" data-min="0" data-max="100000" data-moreinfo="# of current supporters with 100k target"></div>
      <i class="icon-heart icon-background"></i>
    </li>

  </ul>
</div>
