<% content_for(:title) { "Pussy Riot Social Media monitoring" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#FFFF00;" data-image="/PussyRiot/FreePussyRiot1.jpg" data-title="Hello" data-text="Pussy Riot Social Media monitoring for Canada."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_tweets" style="background-color:#00AEEF;" data-view="Comments" data-title="Twitter feed" data-moreinfo="popular tweets about Pussy Riot from within Canada"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="Twitter_Canadian_Pussy_Riot_influential_users_1d" style="background-color:#004C84;" data-view="List" data-unordered="true" data-title="Influential users" data-moreinfo="from Pussy Riot tweets within Canada based on followers"></div>
    <i class="icon-trophy icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_trending_terms_1d" style="background-color:#766A62;" data-view="List" data-unordered="true" data-title="Trending terms" data-moreinfo="from Pussy Riot tweets within Canada"></div>
    <i class="icon-bullhorn icon-background"></i>
    </li>
        
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="Twitter_Canadian_Pussy_Riot_Tweets_per_city" style="background-color:#00AEEF;" data-view="List" data-unordered="true" data-title="Tweets per Canadian city" data-moreinfo="containing Pussy Riot"></div>
    <i class="icon-building icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_tweets_per_hour" style="background-color:#766A62;" data-view="Number" data-title="Pussy Riot tweeters this hour" data-moreinfo="Compared to previous hour" data-prefix=""></div>
    <i class="icon-time icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_artists" style="background-color:#004C84;" data-view="List" data-unordered="true" data-title="Tweets by Canadian Artists" data-moreinfo="containing Pussy Riot or Amnesty last 48h"></div>
    <i class="icon-music icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_trending_hashtags_1d" style="background-color:#00AEEF;" data-view="List" data-unordered="true" data-title="Trending hashtags" data-moreinfo="from Pussy Riot tweets within Canada"></div>
    <i class="icon-tags icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_trending_user_metions_1d" style="background-color:#808EB2;" data-view="List" data-unordered="true" data-title="Trending user mentions" data-moreinfo="from Pussy Riot tweets within Canada"></div>
    <i class="icon-group icon-background"></i>
    </li>
 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_retweeted_users_1d" style="background-color:#808EB2;" data-view="List" data-unordered="true" data-title="Retweeted users" data-moreinfo="from Pussy Riot tweets within Canada"></div>
    <i class="icon-comments icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="Twitter_Canadian_Pussy_Riot_count" style="background-color:#00AEEF;" data-view="Graph" data-title="Canadian Pussy Riot tweets" data-moreinfo="10 min intervals" ></div>
    </li>

  </ul>
</div>


  	<p style="text-align: center;">
			<span style="color:#000000;"><strong><a href="http://www.amnesty.ca/our-work/issues/open-letter-of-support-to-pussy-riot"><span style="color:#000000;">Open letter of support to Pussy Riot</span></a></strong>
    </p>
