<% content_for(:title) { "Taksim Square Protest Watch" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-color:#F26D7D;" data-image="/DesignContest/alert_256x256.png" data-title="Hello" data-text="This is an example dashboard for Amnesty International Canada."></div>
    </li>
