<% content_for(:title) { "Social Media" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="Twitter_Influential_Users" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="Influential Users" data-moreinfo="AI retweets this month"></div>
    <i class="icon-retweet icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions_AIC" style="background-color:#1ABBB4;" data-view="Comments" data-title="Twitter feed" data-moreinfo="Popular Amnesty International tweets in Major Canadian Cities"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Facebook_AIC_page_stats_short" style="background-color:#438CCA;" data-view="List" data-unordered="true" data-title="FB Page Shares" data-moreinfo="Sharing stats for FB page"></div>
    <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_trending_hashtags" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="Trending Hashtags" data-moreinfo="From across Canada"></div>
    <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_trending_countries" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="Trending Countries" data-moreinfo="From across Canada"></div>
    <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Twitter_trending_hashtags_HR_but_non_Amnesty" style="background-color:#1ABBB4;" data-view="List" data-unordered="true" data-title="# Human rights" data-moreinfo="From across Canada excluding Amnesty"></div>
    <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Facebook_AIC_page_post_like_growth" style="background-color:#00BFF3;" data-view="Graph" data-title="Likes count of last FB post" data-moreinfo="10 min intervals - 6 hour period" ></div>
    <i class="icon-thumbs-up icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="Facebook_AIC_page_post_share_growth" style="background-color:#00BFF3;" data-view="Graph" data-title="Shares count of last FB post" data-moreinfo="10 min intervals - 12 hour period" ></div>
    <i class="icon-comments icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Facebook_link_stat" style="background-color:#438CCA;" data-view="List" data-unordered="true" data-title="FB link stats" data-moreinfo="for amnesty.ca links"></div>
    <i class="icon-facebook icon-background"></i>
    </li>

  </ul>
</div>
