<% content_for(:title) { "Suku rollout progress" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="suku_scheduled_reports" style="background-color:#7CC576;" data-view="Number" data-title="Reports scheduled" data-moreinfo="compared to last week" data-prefix=""></div>
    <i class="icon-calendar icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="suku_users" style="background-color:#3BB878;" data-view="Meter" data-title="Active Users" data-min="0" data-max="20" data-moreinfo="# of active users with a target of 20"></div>
      <i class="icon-road icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="suku_reports_per_user" style="background-color:#F68E55;" data-view="List" data-unordered="true" data-title="Reports run per user"></div>
    <i class="icon-group icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="suku_reports_per_tag" style="background-color:#605CA8;" data-view="List" data-unordered="true" data-title="Reports per tag" data-moreinfo="top 6 tags"></div>
    <i class="icon-list-ol icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="suku_manual_reports_run" style="background-color:#00BFF3;" data-view="Number" data-title="Manual reports run" data-moreinfo="compared to last week" data-prefix=""></div>
    <i class="icon-hand-up icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="suku_user_stats" style="background-color:#ACD372;" data-view="List" data-unordered="true" data-title="User creation stats"></div>
    <i class="icon-group icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="suku" style="background-color:#F26C4F;" data-view="Text" data-title="What is Suku?" data-text="Suku is a very simple report runner with scheduling and email features. Suku has access to iMIS, social media, Stats Can, Engaging Networks, and many other data sources. Shiny new reports can be run manually or scheduled and delivered to your inbox as Excel spreadsheets or CSV files."></div>
    </li>

  </ul>
  <center><div style="font-size: 16px; color:#000000;">Contact <b><a href="mailto:GClarke@amnesty.ca">Greg</a></b> to get Suku</div></center>
  <center><div style="font-size: 14px; color:#000000;">All these stats exclude Greg</div></center>
</div>
