<% content_for(:title) { "Welcome to the Dashboard" } %>

		<h1 style="text-align: center;">
			<span style="color:#000000;">Welcome to AIC&#39;s Dashboard</span></h1>
		<table align="center" border="0" cellpadding="18" cellspacing="1" style="width: 600px;">
			<tbody>
				<tr>
					<td style="text-align: center;">
						<p>
							<a href="/fundraising"><span style="color:#000000;"><img alt="Fundraising" src="http://dashboard.amnesty.ca/assets/DesignContest/gift_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/fundraising"><span style="color:#000000;">Fundraising</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/finance"><span style="color:#000000;"><img alt="Finance" src="http://dashboard.amnesty.ca/assets/DesignContest/piggy-bank_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/finance"><span style="color:#000000;">Finance</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/communications"><span style="color:#000000;"><img alt="Communications" src="http://dashboard.amnesty.ca/assets/DesignContest/news_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/communications"><span style="color:#000000;">Communications</span></a></p>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<p>
							<a href="/activism"><span style="color:#000000;"><img alt="Activism" src="http://dashboard.amnesty.ca/assets/DesignContest/alert_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/activism"><span style="color:#000000;">Activism</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/memberservices"><span style="color:#000000;"><img alt="Member Services" src="http://dashboard.amnesty.ca/assets/DesignContest/call_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/memberservices"><span style="color:#000000;">Member Services</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/strategyunit"><span style="color:#000000;"><img alt="Strategy Unit" src="http://dashboard.amnesty.ca/assets/DesignContest/flow-chart_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/strategyunit"><span style="color:#000000;">Strategy Unit</span></a></p>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<p>
							<a href="/campaigns"><span style="color:#000000;"><img alt="Campaigns" src="http://dashboard.amnesty.ca/assets/DesignContest/maps_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/campaigns"><span style="color:#000000;">Campaigns</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/it"><span style="color:#000000;"><img alt="IT" src="http://dashboard.amnesty.ca/assets/DesignContest/internet_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/it"><span style="color:#000000;">IT</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/socialmedia"><span style="color:#000000;"><img alt="Social Media" src="http://dashboard.amnesty.ca/assets/DesignContest/chat_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/socialmedia"><span style="color:#000000;">Social Media</span></a></p>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<p>
							<a href="http://suku.amnesty.ca"><span style="color:#000000;"><img alt="Campaigns" src="http://dashboard.amnesty.ca/assets/suku.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="http://suku.amnesty.ca"><span style="color:#000000;">Suku</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/allwidgets"><span style="color:#000000;"><img alt="Ideas" src="http://dashboard.amnesty.ca/assets/DesignContest/idea_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/allwidgets"><span style="color:#000000;">All widgets</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="http://www.google.com/chrome"><span style="color:#000000;"><img alt="Chrome" src="http://dashboard.amnesty.ca/assets/chrome.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="http://www.google.com/chrome"><span style="color:#000000;">Get Chrome</span></a></p>
					</td>
				</tr>
			</tbody>
		</table>
		<p style="text-align: center;">
			<span style="color:#ff0000;">Note: the dashboard does <strong>not</strong> work with <strong>Internet Explorer</strong>. Please click </span><strong><a href="http://www.google.com/chrome"><span style="color:#ff0000;text-decoration:underline;">here</span></a></strong><span style="color:#ff0000;"> and follow the simple instructions to install Chrome.</span></p>
		<p style="text-align: center;">
			<span style="color:#000000;">To request a changes or additional dashboards please contact </span><strong><a href="mailto:GClarke@amnesty.ca"><span style="color:#000000;">Greg</span></a></strong><span style="color:#000000;">. Check out the </span><strong><a href="/allwidgets"><span style="color:#000000;">all widgets</span></a></strong><span style="color:#000000;"> dashboard for&nbsp;inspiration.</span></p>
