<% content_for(:title) { "Welcome to the Dashboard" } %>

		<h1 style="text-align: center;">
			<span style="color:#000000;">Welcome to AIC&#39;s Dashboard</span></h1>
		<table align="center" border="0" cellpadding="15" cellspacing="1" style="width: 800px;">
			<tbody>
				<tr>
					<td style="text-align: center;">
						<p>
							<a href="/fundraising"><span style="color:#000000;"><img alt="Fundraising" src="/assets/DesignContest/gift_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/fundraising"><span style="color:#000000;">Fundraising</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/finance"><span style="color:#000000;"><img alt="Finance" src="/assets/DesignContest/piggy-bank_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/finance"><span style="color:#000000;">Finance</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/communications"><span style="color:#000000;"><img alt="Communications" src="/assets/DesignContest/news_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/communications"><span style="color:#000000;">Communications</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/taksimsquare"><span style="color:#FF0000;"><img alt="Taksim Square" src="/assets/DesignContest/alert_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/taksimsquare"><span style="color:#FF0000;">Taksim Square</span></a></p>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<p>
							<a href="/activism"><span style="color:#000000;"><img alt="Activism" src="/assets/DesignContest/user_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/activism"><span style="color:#000000;">Activism</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/memberservices"><span style="color:#000000;"><img alt="Member Services" src="/assets/DesignContest/call_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/memberservices"><span style="color:#000000;">Member Services</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/strategyunit"><span style="color:#000000;"><img alt="Strategy Unit" src="/assets/DesignContest/flow-chart_256x256.png" style="text-align: center; width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/strategyunit"><span style="color:#000000;">Strategy Unit</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/campaigns"><span style="color:#000000;"><img alt="Campaigns" src="/assets/DesignContest/maps_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/campaigns"><span style="color:#000000;">Campaigns</span></a></p>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<p>
							<a href="/it"><span style="color:#000000;"><img alt="IT" src="/assets/DesignContest/internet_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/it"><span style="color:#000000;">IT</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/socialmedia"><span style="color:#000000;"><img alt="Social Media" src="/assets/DesignContest/chat_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/socialmedia"><span style="color:#000000;">Social Media</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="/suku"><span style="color:#000000;"><img alt="Suku rollout" src="/assets/DesignContest/pie-chart_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="/suku"><span style="color:#000000;">Suku rollout</span></a></p>
					</td>
					<td style="text-align: center;">
						<p>
							<a href="mailto:GClarke@amnesty.ca"><span style="color:#000000;"><img alt="Request a Dashboard" src="/assets/DesignContest/idea_256x256.png" style="width: 128px; height: 128px;" /></span></a></p>
						<p>
							<a href="mailto:GClarke@amnesty.ca"><span style="color:#000000;">Request a Dashboard</span></a></p>
					</td>
				</tr>
			</tbody>
		</table>
		<p style="text-align: center;">
			<span style="color:#000000;">To request a changes or additional dashboards please contact </span><strong><a href="mailto:GClarke@amnesty.ca"><span style="color:#000000;">Greg</span></a></strong><span style="color:#000000;">. Check out the other dashboards for inspiration.</span></p>
